#agora_local{
    min-height: 250px;
    min-width: 250px;
    padding: 10px;
}

.local-container {
    max-width: max-content;
    border-radius: 3px;
    border-color: black;
    border-style: double;
    margin: 0 auto;
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    div {
        border-radius: 3px;
        border-color: black;
        border-style: double;
        padding: 10px;
        margin: 8px;
        height: 250px;
        width: 250px;
    }
}

.remote-containers {
    min-height: 250px;
    min-width: 250px;

    
}
